{% extends 'base.html.twig' %}

{% block title %}Envoie d'un email pour réinitialiser le mot de passe{% endblock %}

{% block body %}
    <p>
       si votre e-mail est associé avec un compte existant, un email sera envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email de notre part, merci de vérifier vos Spam avant de <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
