body {
    /*background-color: #57709b;*/
    background: linear-gradient(to bottom, #97aed0, rgb(88, 112, 152)) no-repeat fixed;
    /*background-image: radial-gradient(#96a5c2, rgb(88, 112, 152));*/
    background-size: cover;
"
}

.card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 5px;*/
    box-sizing: border-box;
    /*width: 200px;*/
    /*height: 200px;*/
    transition: all linear 200ms;
}
.card:hover{
    transform: scale(1.05);
    transition: all linear 100ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}
.card-link {
    text-decoration: none;
    color: inherit;
}
.custom-card:hover {
    transform: scale(1.00);
    z-index: 1;
    cursor: auto;
    box-shadow: none;
}

.nav{
    background: linear-gradient(to bottom, rgb(0, 196, 255), rgb(253,252,252));
    opacity: 0.7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: 1em;
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    color: rgb(255, 0, 0);
}

.div-banniere{
    display: block;
}
.banniere{
    display: block;
    position: relative;
    left: 0;
    right: 0;
}

.default-image {
    display: block; /* Par défaut, l'image par défaut est affichée */
    justify-content: center;
    max-height: 650px;
    width: 100%;
}

.mobile-image {
    display: none; /* Par défaut, l'image pour téléphone est masquée */
}

/* Affiche l'image pour téléphone sur les écrans dont la largeur est inférieure à 768px */
@media (max-width: 600px) {
    .default-image {
        display: none; /* Masque l'image par défaut sur les téléphones */
    }

    .mobile-image {
        display: block; /* Affiche l'image pour téléphone sur les téléphones */
        justify-content: center;
        height: 125px;
        width: 100%;
    }
}

.flash-message {
    margin-right: 1em;
    margin-left: 1em;
    top: 95px;
    background-color: rgba(112, 231, 102, 0.57);
    color: white;
    border-radius: 5px;
    z-index: 9999;
}
