body {
    background: linear-gradient(to bottom, #07fab9, rgb(3, 9, 33)) no-repeat fixed;
    background-size: cover;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.page-container{
    position: relative;
    min-height: 100vh;
}
.card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    box-sizing: border-box;
    transition: all linear 200ms;
}
.card:hover{
    transform: scale(1.05);
    transition: all linear 100ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}
.card-link {
    text-decoration: none;
    color: inherit;
}
.custom-card:hover {
    transform: scale(1.00);
    z-index: 1;
    cursor: auto;
    box-shadow: none;
}

.nav{
    background: linear-gradient(to bottom, rgb(0, 196, 255), rgb(253,252,252));
    opacity: 0.85;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: 1em;
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    color: rgb(11, 89, 152);
}

.studio-text {
    color: rgb(11, 89, 152);
}

@media (max-width: 992px) {
    .bubble-menu {
        position: absolute;
        top: calc(80%); /* Distance de la bulle de menu par rapport au menu */
        right: 0; /* Ajustez la position horizontale si nécessaire */
        display: none;
        background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(125, 223, 253));
        padding: 10px;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
    }

    /* Styles pour la bulle de menu active */
    .bubble-menu.active {
        display: block;
        transform: translateY(10px); /* Fait apparaître la bulle de menu avec un effet de transition */
    }
}

.div-banniere{
    display: block;
}

.banniere{
    display: block;
    position: relative;
    left: 0;
    right: 0;
}

.default-image {
    display: block; /* Par défaut, l'image par défaut est affichée */
    justify-content: center;
    max-height: 650px;
    width: 100%;
}

.mobile-image {
    display: none; /* Par défaut, l'image pour téléphone est masquée */
}

/* Affiche l'image pour téléphone sur les écrans dont la largeur est inférieure à 768px */
@media (max-width: 600px) {
    .default-image {
        display: none; /* Masque l'image par défaut sur les téléphones */
    }

    .mobile-image {
        display: block; /* Affiche l'image pour téléphone sur les téléphones */
        justify-content: center;
        height: 125px;
        width: 100%;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    background-position: center bottom;
    /*filter: blur(5px); !* Ajustez la valeur du flou selon vos préférences *!*/
    z-index: -1; /* Assurez-vous que le fond d'écran flou se trouve en arrière-plan */
}


.desktop-background {
    display: block;
    height: 100%;
    width: 100%;
}

.mobile-background {
    display: none;
}

/* Affiche le fond d'écran VilleIA sur les écrans dont la largeur est inférieure à 768px */
@media (max-width: 650px) {
    .desktop-background {
        display: none;
    }

    .mobile-background {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.form-custom{
    margin-top: 9em;
    background-color: rgba(1, 194, 187, 0.60);
}

.flash-message {
    margin-right: 1em;
    margin-left: 1em;
    top: 95px;
    background-color: rgba(253, 89, 0, 0.74);
    color: white;
    border-radius: 5px;
    z-index: 9999;
}

.question-panel {
    background: rgb(26, 12, 87);
    color: rgb(255, 255, 255);
    padding: 0 30px 0 20px;
    line-height: 30px;
    height: 30px;
    font-weight: 700;
    overflow: hidden;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 4px;
    transform: rotate(90deg) scaleX(1) scaleY(1);
    transform-origin: right top;
    position: fixed;
    bottom: 5em;
    right: 0;
    white-space: nowrap;
    max-width: 400px;
    /* Nouveaux styles pour l'effet d'agrandissement */
    transition: height 0.3s ease; /* Transition fluide */
}

.question-panel:hover {
    height: 40px;
}

.vertical-text {
    transform: rotate(180deg);

}

.custom-card-container {
    display: flex;
    justify-content: space-between;
}

.custom-sidebar{
    padding:1em;
    background-color: rgba(53, 225, 241, 0.56);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.custom-sidebar ul {
    list-style-type: none; /* Supprimer les puces de la liste */
    padding: 0;
}

.custom-sidebar ul li {
    margin-bottom: 10px;
}

.custom-sidebar ul li a {
    text-decoration: none; /* Supprimer les soulignements des liens */
    color: #333; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Gras */
}

.custom-sidebar ul li a:hover {
    color: #025abb; /* Couleur du texte au survol */
}

.card-header-custom{
    width: 100%;
    background-color: rgb(7, 186, 250, 0.28);
    padding: 1em;
    border-radius: 8px;
}

.custom-card-profile{
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(172, 253, 242, 0.85);
    width: 35rem;
    margin-top: 7em;
}

.photo-profile-custom{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.hr{
    margin: 2rem 0;
}

.custom-profile-button{
    margin: 1em;
}

.card-text-custom{
    margin: 1em;
}

.card-body-custom{
    height: 22em;
    width: 30em;
}
@media (max-width: 768px) {
    .card-body-custom {
        height: 18em; /* Ajustez la hauteur selon vos besoins */
        width: 25em; /* Ajustez la largeur selon vos besoins */
    }
}
.white-text {
    color: white;
}

.submit-button {
    background-color: rgb(11, 89, 152); /* Change la couleur de fond du bouton */
    border-color: rgb(11, 89, 152); /* Change la couleur de la bordure du bouton */
    color: #fff; /* Change la couleur du texte du bouton en blanc */
}

.card-background {
    color: #dbeafe;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-attachment: fixed;
    background-size: cover;

}

.card-title{
    text-align: center;
}
.card-title-equipe{
    font-weight: bold;
    color: rgb(85, 160, 242);
}

.card-content {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

.card-body-services{
    border-radius: 50%;
    width: 200px; /* Ajustez la largeur et la hauteur en fonction de vos besoins */
    height: 200px;
    background-image: url('../img/CarteMereIA.png');
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    margin: 0.5em;
}

.text-accueil{
    font-size: 1.3em;
    margin: 0.5em 10em 3em;
}
@media (max-width: 800px) {
    .text-accueil {
        margin: 0.5em 1.5em 3em; /* Marge : haut 0.5em, droite 0, bas 3em, gauche 0 */
    }
}

.d-flex{
    margin-top: 2em;
    margin-bottom: 5em;
}

.contacts{
    color: #dbeafe;
    margin-top: 1em;
    padding-top: 20em;
    padding-bottom: 5em;
    padding-left: 5em;
    background-attachment: local;
    background-size: cover;
    background-image: url('../img/Contact.png');
}
@media (max-width: 800px) {
    .contacts {
        color: #dbeafe;
        margin-top: 1em;
        padding-top: 15em;
        padding-bottom: 6em;
        padding-left: 2em;
        background-attachment: local;
        background-size: cover;
        background-image: url('/assets/img/ContactTel.png');
    }
}

.contact{
    padding-top: 2em;
}